@import "https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  font-family: "Open sans", sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #f0f8ff;
  color: #476072;
  display: grid;
  place-items: center;
}

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.joinChatContainer h1 {
  color: #00c6ff;
  font-size: 32px;
  margin-bottom: 20px;
}
.joinChatContainer input {
  width: 310px;
  height: 30px;
  margin: 7px;
  border: 2px solid;
  border: 1px solid #e9e9ed;
  padding: 5px;
  font-size: 14px;
}
.joinChatContainer input:focus {
  border: 1px solid #00b5ff;
  outline: none;
}
.joinChatContainer input::placeholder {
  opacity: 0.4;
}
.joinChatContainer button {
  height: 60px;
  margin: 7px;
  border: 0.1px solid #f0f8ff;
  padding: 5px;
  font-size: 14px;
  background: linear-gradient(-45deg, #4c60ff, #a134fd, #c643d0, #f9598f);
  background-size: 600%;
  color: #fff;
  cursor: pointer;
  animation: anime 9s linear infinite;
  transition: 0.3s;
}
.joinChatContainer button:focus {
  border: 2px solid;
  border-color: inherit;
  outline: none;
}
.joinChatContainer button:hover {
  opacity: 0.9;
}
.joinChatContainer button:active {
  border: 5px solid #00c6ff;
}
@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.chat-window {
  width: 370px;
  height: 520px;
  background-color: red;
}
.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  background: linear-gradient(to right, #0072ff, #00c6ff);
  position: relative;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 16px;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}
.chat-window .chat-body {
  height: 435px;
  background: #fff;
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}
.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 20px;
  max-width: 160px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #00c6ff;
  color: #fff;
  margin: 0 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  word-break: break-word;
}
.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 11px;
  color: #7694a9;
}
.chat-window .chat-footer {
  height: 40px;
  display: flex;
}
.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
  background-color: #e9e9ed;
  color: #476072;
}
.chat-window .chat-footer input:focus {
  background-color: #efeff2;
}
.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  outline: none;
  font-size: 25px;
  color: #cdcdcd;
}
.chat-window .chat-footer button:hover {
  color: #00c6ff;
}

#you {
  justify-content: flex-start;
}
#you .message-content {
  justify-content: flex-start;
}
#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}
#other .message-content {
  background-color: #c1f3ff;
  color: #476072;
}
#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #username {
  margin-right: 10px;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
