@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");

:root {
  --light-text-color: #fff;
  --dark-text-color: #263238;
  --main-color: #00a7c7;
  --dark-color: #1089b1;
  --bacground-color-light: AliceBlue;
  --background-me: #00a7c7;
  --background-others: #fd6fa0;
  --font-style: "Chakra Petch", sans-serif;
}

* {
  font-family: var(--font-style);
  /* overflow-x: hidden;
  border: 1px solid grey; */
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--bacground-color-light);
  color: var(--text-color);
  display: grid;
  place-items: center;
}

body {
  margin: 0%;
  padding: 0%;
}

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid;
  border-color: var(--main-color);
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: var(--main-color);
  color: var(--light-text-color);
  cursor: pointer;
}

.joinChatContainer input:focus,
.joinChatContainer button:focus {
  border: 2px solid;
  border-color: var(--dark-color);
  outline: none;
}

.joinChatContainer button:hover {
  background: var(--dark-color);
}

.chat-window {
  width: 300px;
  height: 420px;
}

.chat-window p {
  margin: 0;
}

.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: var(--dark-text-color);
  position: relative;
}

.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid var(--dark-text-color);
  background: var(--light-text-color);
  position: relative;
  /* overflow-y: auto; */
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 20px;
  max-width: 120px;
  background-color: var(--background-me);
  border-radius: 5px;
  color: var(--light-text-color);
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 6px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  /* justify-content: flex-end; */
  background-color: var(--background-others);
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #username {
  margin-right: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid var(--dark-text-color);
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  outline: none;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: #cdcdcd;
}

.chat-window .chat-footer button:hover {
  color: var(--background-me);
}
